@model SFA.DAS.ASK.Web.ViewModels.DeliveryPartner.PlanningMeetings.DeliveryPartnerContactViewModel
@{
    ViewData["Title"] = "Delivery partner contact";
    var confirmButtonText = (Model.Edit) ? "Save" : "Continue";

}

@if (Model.Edit)
{
    <a class="govuk-back-link" asp-action="Index" asp-controller="CheckAnswers" asp-route-supportId="@Model.SupportId">Back</a>
}
else
{
    <a class="govuk-back-link" asp-action="Index" asp-controller="PlanningContact" asp-route-supportId="@Model.SupportId">Back</a>
}

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <partial name="_ErrorSummary" />

            <h1 class="govuk-heading-xl">
                ASK delivery partner contact
            </h1>

            <form method="post">
                
                
                <div class="govuk-form-group" sfa-gds-error-class-for="SelectedDeliveryPartnerContactId">
                    <div class="govuk-fieldset">
                        <span id="organisation-type-error" sfa-gds-error-message-for="SelectedDeliveryPartnerContactId"></span>
                        <div class="govuk-radios" data-module="govuk-radios">
                           

                            @foreach (var contact in Model.DeliveryPartnerContacts)
                            {
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" type="radio" asp-for="SelectedDeliveryPartnerContactId" value="@contact.Id" />
                                    <label class="govuk-label govuk-radios__label">@contact.FullName</label>
                                    <span class="govuk-hint govuk-radios__hint"> @contact.PhoneNumber</span>
                                    <span class="govuk-hint govuk-radios__hint"> @contact.Email</span>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <button class="govuk-button" type="submit">@confirmButtonText</button>
                @if (Model.Edit)
                {
                    <a asp-action="Index" asp-controller="CheckAnswers" asp-route-supportId="@Model.SupportId" class="das-button--link">Cancel</a>
                }
            </form>
        </div>
    </div>
</main>
