@model SFA.DAS.ASK.Web.ViewModels.DeliveryPartner.PlanningMeetings.SchedulePlanningMeetingViewModel
@using SFA.DAS.ASK.Data.Entities;
@{
    ViewData["Title"] = "Schedule planning meeting";
    var confirmButtonText = (Model.Edit) ? "Save" : "Continue";
}

@if (Model.Edit)
{
    <a class="govuk-back-link" asp-action="Index" asp-controller="CheckAnswers" asp-route-supportId="@Model.SupportId">Back</a>
}
else
{
    <a class="govuk-back-link" asp-action="Index" asp-controller="Home">Back</a>
}

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <partial name="_ErrorSummary" />

            <h1 class="govuk-heading-xl">
                Schedule a planning meeting
                <span class="govuk-caption-xl"> @Model.OrganisationName</span>
            </h1>

            <form method="post">
                <div class="govuk-form-group" sfa-gds-error-class-for="DateOfMeeting">
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="planning-meeting-date-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h1 class="govuk-fieldset__heading">
                                Date of the planning meeting?
                            </h1>
                        </legend>
                        <span id="planning-meeting-date-hint" class="govuk-hint">
                            Enter or select the correct date
                        </span>
                        <span sfa-gds-error-message-for="DateOfMeeting"></span>
                        <span sfa-gds-error-message-for="Day"></span>
                        <span sfa-gds-error-message-for="Month"></span>
                        <span sfa-gds-error-message-for="Year"></span>
                        <div class="govuk-date-input">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group" sfa-gds-error-class-for="Day">
                                    <label class="govuk-label govuk-date-input__label" id="planning-meeting-date-day">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" asp-for="Day" type="number">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" id="planning-meeting-date-month">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" asp-for="Month" type="number" sfa-gds-error-class-for="Month">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group" sfa-gds-error-class-for="Year">
                                    <label class="govuk-label govuk-date-input__label" id="planning-meeting-date-year">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" asp-for="Year" type="number">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h1 class="govuk-fieldset__heading">
                                Time of the planning meeting
                            </h1>
                        </legend>
                        <span id="passport-issued-hint" class="govuk-hint">
                            For example, 09 30
                        </span>
                        <div class="govuk-date-input">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <div class="govuk-label govuk-date-input__label"> Hours </div>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" asp-for="Hours" type="text" pattern="[0-9]*" inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <div class="govuk-label govuk-date-input__label"> Minutes </div>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" asp-for="Minutes" type="text" pattern="[0-9]*" inputmode="numeric">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="meeting-type-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h1 class="govuk-fieldset__heading">
                                How will the planning meeting take place?
                            </h1>
                        </legend>
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" asp-for="Type" type="radio" value="@MeetingType.FaceToFace">
                                <label class="govuk-label govuk-radios__label" for="changed-name">
                                    A face-to-face meeting
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" asp-for="Type" type="radio" value="@MeetingType.Telephone">
                                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                    A telephone conversation
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <button class="govuk-button" type="submit">@confirmButtonText</button>
                @if (Model.Edit)
                {
                    <a asp-action="Index" asp-controller="CheckAnswers" asp-route-supportId="@Model.SupportId" class="das-button--link">Cancel</a>
                }

            </form>

        </div>
    </div>
</main>