@model SFA.DAS.ASK.Web.Controllers.DeliveryPartner.SupportRequestsViewModel

@{
    ViewBag.Title = "Support requests";
}

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing admin-page" id="main-content" role="main">


    <div class="govuk-grid-row" id="delivery-partner-dashboard">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">
                Support requests
                <span class="govuk-caption-xl">Manage requests for ASK support</span>
            </h1>

            <div class="tabs request-tabs">
                <div class="govuk-width-container">
                    <ul class="govuk-list">
                        <li>
                            <a asp-action="Index" asp-controller="SupportRequests" class="govuk-link requests-all selected"><span class="number">@Model.AllSupportRequestsCount</span> - All requests</a>
                        </li>
                        <li>
                            <a asp-action="NewSupportRequests" asp-controller="SupportRequests" class="govuk-link requests-all selected"><span class="number">@Model.NewSupportRequestsCount</span> - New requests</a>
                        </li>
                        <li>
                            <a asp-action="ContactedSupportRequests" asp-controller="SupportRequests" class="govuk-link requests-all selected"><span class="number">@Model.ContactedSupportRequestsCount</span> - Contacted</a>
                        </li>
                        <li>
                            <a class="govuk-link requests-all selected"><span class="number">@Model.RejectedSupportRequestsCount</span> - Rejected</a>
                        </li>
                    </ul>
                </div>
            </div>

            @if (Model.NewSupportRequests.Any())
            {
                <h2 class="govuk-heading-m sub-heading">New requests</h2>
                @foreach (var sr in Model.NewSupportRequests)
                {
                    <div>
                        <div>
                            @if (sr.StatusDate.Value.Date == DateTime.Today)
                            {
                                <span class="govuk-tag new">Today</span>
                            }
                            else if ((DateTime.Today.Date - sr.StatusDate.Value.Date).Days < 3)
                            {
                                var daysOld = (DateTime.Today.Date - sr.StatusDate.Value.Date).Days;
                                if (daysOld == 1)
                                {
                                    <span class="govuk-tag new">@daysOld day old</span>
                                }
                                else
                                {
                                    <span class="govuk-tag new">@daysOld days old</span>
                                }
                            }
                            else if ((DateTime.Today.Date - sr.StatusDate.Value.Date).Days < 6)
                            {
                                var daysOld = (DateTime.Today.Date - sr.StatusDate.Value.Date).Days;

                                <span class="govuk-tag lapsed">@daysOld days old</span>
                            }
                            else
                            {
                                var daysOld = (DateTime.Today.Date - sr.StatusDate.Value.Date).Days;

                                <span class="govuk-tag rejected">@daysOld days old</span>
                            }


                            <h2 class="govuk-heading-m">
                                @sr.OrganisationName
                                <span class="govuk-caption-m">
                                    @sr.OrganisationAddress
                                </span>
                            </h2>
                            <p class="govuk-body-m">
                                <span class="icon contact"></span> @sr.ContactName
                                <span class="icon telephone"></span> @sr.ContactTelephone
                                <span class="icon email"></span> <a href="mailto:@sr.ContactEmail">@sr.ContactEmail</a>
                            </p>
                        </div>
                        <div class="cta-wrapper">

                        </div>
                    </div>
                }
            }
        </div>
    </div>
</main>