@model SFA.DAS.ASK.Web.ViewModels.RequestSupport.OrganisationResultsViewModel
@{
    ViewData["Title"] = "Organisation search results";

    var resultsCount = Model.Results.Count == 1 ? "1 results found" : Model.Results.Count.ToString() + " results found";
}

@if (Model.Edit)
{
    <a class="govuk-back-link" asp-action="Index" asp-controller="CheckYourDetails" asp-route-requestId="@Model.RequestId" >Back</a>
}
else
{
    <a class="govuk-back-link" asp-action="Index" asp-controller="OrganisationSearch" asp-route-requestId="@Model.RequestId" asp-route-search="@Model.Search">Back</a>
}
<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Search results for @Model.Search
            </h1>

            <form method="get" asp-action="Index" asp-controller="OrganisationResults" asp-route-requestId="@Model.RequestId">

                <div class="govuk-form-group">
                    @if (Model.Edit)
                    {
                        <input type="hidden" asp-for="Edit" value="true" />
                    }
                    <input class="govuk-input" asp-for="Search" type="text">
                </div>

                <button class="govuk-button" data-module="govuk-button" type="submit">
                    Search
                </button>

                @if (Model.Edit)
                {
                    <a class="govuk-link das-link--button-aligned" asp-action="Index" asp-controller="CheckYourDetails" asp-route-requestId="@Model.RequestId">Cancel</a>
                }
                else
                {
                    <a asp-action="Index" asp-controller="CancelSupportRequest" asp-route-requestId="@Model.RequestId" asp-route-returnAction="Index" asp-route-returnController="OrganisationSearch" class="govuk-link das-link--button-aligned">Cancel</a>
                }

            </form>

            <hr />

            <p> @resultsCount</p>

            @if (Model.Results.Count > 0)
            {
                <ol class="das-search-results">
                    @foreach (var result in Model.Results)
                    {
                        <li class="das-search-results__list-item">
                            <form method="post" asp-controller="OrganisationResults" asp-action="Index">
                                <input type="hidden" asp-for="SelectedResult" value="@result.Id" />
                                @if (result.Code == Model.SelectedReferenceId)
                                {
                                    <strong class="govuk-tag">
                                        Selected
                                    </strong>
                                }
                                <h2 class="govuk-heading-m das-search-results__heading"><button type="submit" class="das-button--inline-link">@result.Name</button></h2>
                            </form>
                            <p class="das-search-results__content"> @result.GetAddressString()</p>
                        </li>
                    }
                </ol>
            }
        </div>
    </div>
</main>

