@model SFA.DAS.ASK.Web.ViewModels.RequestSupport.OrganisationTypeViewModel
@using SFA.DAS.ASK.Data.Entities;
@using SFA.DAS.ASK.Application.Utils;
@{
    ViewBag.Title = "TODO: TITLE ORGANISATION TYPE";
}


<a class="govuk-back-link" asp-action="Index" asp-controller="YourDetails" asp-route-requestId="@Model.RequestId">Back</a>

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <partial name="_ErrorSummary" />

            <h1 class="govuk-heading-xl">
                Organisation type
            </h1>
            <form method="post">

                <div class="govuk-form-group" sfa-gds-error-class-for="SelectedOrganisationType">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend ">
                            <p class="govuk-fieldset__heading">
                                Select type
                            </p>
                        </legend>
                        <span sfa-gds-error-message-for="SelectedOrganisationType"></span>
                        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" type="radio" asp-for="SelectedOrganisationType" id="organisationType_school" value="@OrganisationType.School" />
                                <label class="govuk-label govuk-radios__label" for="organisationType_school">@EnumHelper.GetEnumDescription(OrganisationType.School)</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" type="radio" asp-for="SelectedOrganisationType" id="organisationType_lep" value="@OrganisationType.LEP" />
                                <label class="govuk-label govuk-radios__label" for="organisationType_lep">@EnumHelper.GetEnumDescription(OrganisationType.LEP)</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" type="radio" asp-for="SelectedOrganisationType" id="organisationType_localauthority" value="@OrganisationType.LA" />
                                <label class="govuk-label govuk-radios__label" for="organisationType_localauthority">@EnumHelper.GetEnumDescription(OrganisationType.LA)</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" type="radio" asp-for="SelectedOrganisationType" id="organisationType_emb" value="@OrganisationType.Employer" />
                                <label class="govuk-label govuk-radios__label" for="organisationType_emb">@EnumHelper.GetEnumDescription(OrganisationType.Employer)</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" type="radio" asp-for="SelectedOrganisationType" id="organisationType_careersservice" value="@OrganisationType.Careers" />
                                <label class="govuk-label govuk-radios__label" for="organisationType_careersservice">@EnumHelper.GetEnumDescription(OrganisationType.Careers)</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" type="radio" asp-for="SelectedOrganisationType" id="organisationType_other" value="@OrganisationType.Other" data-aria-controls="conditional_organisationType_other" />
                                <label class="govuk-label govuk-radios__label" for="organisationType_other">@EnumHelper.GetEnumDescription(OrganisationType.Other)</label>
                            </div>

                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional_organisationType_other">
                                <div class="govuk-form-group" sfa-gds-error-class-for="Other">
                                    <label class="govuk-label" for="organisationType_other_details">
                                        <span sfa-gds-error-message-for="Other"></span>
                                        Please specify
                                    </label>
                                    <input class="govuk-input govuk-!-width-one-third" id="organisationType_other_details" asp-for="Other">
                                </div>
                            </div>


                        </div>
                    </fieldset>

                </div>

                <button id="continueButton" class="govuk-button" type="submit">Continue</button>
                <a asp-action="Index" asp-controller="CancelSupportRequest" asp-route-requestId="@Model.RequestId" asp-route-returnAction="Index" asp-route-returnController="OtherDetails" class="das-button--link">Cancel</a>
            </form>
   
            <partial name="_DifficultiesFooter"/>

        </div>
    </div>
</main>




           