@model SFA.DAS.ASK.Web.ViewModels.RequestSupport.OrganisationResultsViewModel
@{
    ViewData["Title"] = "OrganisationResults";
}

<form method="post" asp-action="Search" asp-controller="OrganisationSearch" asp-route-requestId="@Model.RequestId">
    <input type="hidden" asp-for="RequestId" value="@Model.RequestId" />
    <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
            Search results
        </label>

        <input class="govuk-input" asp-for="SearchTerms" type="text">
    </div>

    <button class="govuk-button" data-module="govuk-button" type="submit">
        Search
    </button>
    @*<a asp-action="Index" asp-controller="Home" class="govuk-link das-link--button-aligned">Cancel</a>*@
    <a asp-action="Index" asp-controller="CancelSupportRequest" asp-route-requestId="@Model.RequestId" asp-route-returnAction="Index" asp-route-returnController="OrganisationSearch" class="govuk-link das-link--button-aligned">Cancel</a>

</form>

<hr />

@if (Model.Results.Count > 0)
{
    <p> @Model.Results.Count  results found</p>
        @foreach (var result in Model.Results)
        {
            <form method="post" asp-controller="organisation-results" asp-action="Index">

                <input type="hidden" asp-for="SelectedResult" value="@result.Guid" />

                <button class="govuk-link" type="submit"> @result.Name</button>
                <p> @result.Name</p>
                <p> @result.Sector</p>
            
            </form>
        }
    }